body{
    
    main{

        .main__container{

            width: 500px;
            height: 500px;
            border: 3px solid black;
            margin: auto;
            margin-top: 100px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
            background-image: url('https://i.gifer.com/NSu6.gif');
            background-repeat: no-repeat; 
            background-size: cover;
            border-radius: 15px;
            box-shadow: 5px 5px black;
            

            .container__form{
                width: 500px;
                height: 100px;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                background-color: rgb(0, 0, 0, 0.2);
                border-radius: 15px 15px 0 0;

                .form__input-text{
                    width: 300px;
                    height: 30px;
                    border-radius: 15px;
                }
                .form__input-button{
                    width: 100px;
                    height: 36px;
                    border-radius: 15px;
                }
            }
            .container__weather{
                width: 500px;
                height: 400px;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                background-color: rgb(0, 0, 0, 0.2);
                border-radius: 0 0 15px 15px;

                .weather__temp{
                    margin: 0;
                    width: 250px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .weather__city{
                    @extend .weather__temp;
                }
                .weather__infos{
                    width:500px;
                    height: 300px;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;

                    .infos__desc{
                        width:250px;
                        height: 100px;
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        text-align: center
                    }

                    .infos__wind{
                        @extend .infos__desc;
                        margin: 0;
                        display: flex;
                        justify-content: center;
                    }

                    .infos__nextdays{
                        width:100px;
                        height: 200px;
                        font-size: 0.9rem;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        text-align: center;

                        .nextdays__desc{
                            margin: 0;
                            height: 50px;
                        }

                        img{
                            width:50%;
                            height: 30%;
                            margin-bottom: 30%;
                            display: none;
                        }
                    }
                }
            }

        }

    }
}

